body {
    text-align: center;
    font-family: 'bittymedium';
    background-color: #4D456D;
    color: #F0D7B1;
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    font-size: 5rem;
}

p {
    font-size: 3rem;
}

a {
    color: #AEC6A5;
}

a:hover {
    color: #E6ADDD
}

@font-face {
    font-family: 'bittymedium';
    src: url('bitty-webfont.woff2') format('woff2'),
         url('bitty-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}